<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqTu12zIcFMO5ciTVJhLPYeG76U9LGAys</string>
	<key>GCM_SENDER_ID</key>
	<string>847694859680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.papaguido.mynotes</string>
	<key>PROJECT_ID</key>
	<string>guido-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>guido-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847694859680:ios:372e41cce058cc366728c5</string>
</dict>
</plist>